/*  Copyright © 2014 Jackos
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */

/* Header */
header {
    background-color: inherit;
    color: #aaa;
}

/* Body */
body {
    background-color: #eaeaea;
    color: #aaa;
}

.block {
    background-color: #fff;
    border-bottom-color: #d9d9d9;
}

.block.color {
    border-left-color: #0af;
}

.block.button {
    background-color: #0af;
    color: #fff;
}

input {
    outline-width: 0px;
    outline-color: #ddd;
}