nav,
section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav > *,
section > * {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: block-axis;
    -webkit-box-direction: normal;
    -moz-box-orient: block-axis;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-flex: 1.0;
    -moz-box-flex: 1.0;
    -ms-flex: 1 0 auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.block {
    -webkit-box-flex: 1.0;
    -moz-box-flex: 1.0;
    -ms-flex: 1 0 auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    
    -webkit-box-orient: inline-axis;
    -webkit-box-direction: normal;
    -moz-box-orient: inline-axis;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    flex-flow: row wrap;
    -webkit-transition: box-shadow 0.25s;
}

.block.full-size {
    -webkit-box-flex: 1.0;
    -moz-box-flex: 1.0;
    -ms-flex: 1 1 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

.block.half-size {
    -webkit-box-flex: 0.5;
    -moz-box-flex: 0.5;
    -ms-flex: 1 0 0.5;
    -webkit-flex-grow: 0;
    -webkit-flex-basis: -0.5;
    flex-basis: calc(50% - 30px);
    flex-grow: 0;
}

.block.color.half-size {
    -webkit-box-flex: 0.5;
    -moz-box-flex: 0.5;
    -ms-flex: 1 0 0.5;
    -webkit-flex-basis: 0.5;
    flex-basis: calc(50% - (30px + 3px));
}

.block.button {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.block:hover {
    -webkit-transition: box-shadow 0.25s;
}

input {
    -webkit-box-flex: 1.0;
    -moz-box-flex: 1.0;
    -ms-flex: 1 1 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}
