/*  Copyright © 2014 Jackos
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */

/* Body */
main,
section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-box-orient: inline-axis;
    -webkit-box-direction: normal;
    -moz-box-orient: inline-axis;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;

    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

main > *,
section > * {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    
    -webkit-box-flex: 1.0;
    -moz-box-flex: 1.0;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}

.block.full-size {
    -webkit-box-flex: 1.0;
    -moz-box-flex: 1.0;
    -ms-flex: 1 1 100%;
    -webkit-flex-basis: 100%;
}

.block.half-size {
    -webkit-box-flex: 0.44;
    -moz-box-flex: 0.44;
    -ms-flex: 1 1 44%;
    -webkit-flex-basis: 44%;
}

input {
    -webkit-box-flex: 1.0;
    -moz-box-flex: 1.0;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}

