@import url("main-webkit.css");

/*  Copyright © 2014 Jackos
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */


/* Header */
header {
    text-align: center;
}

header h1 {
    margin: 35px 0;
    padding: 0;
}


/* Body */
html {
    height: 100%;
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

main {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

nav,
section {
    display: flex;
    flex-wrap: wrap;
}

nav > *,
section > * {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.block {
    flex-grow: 1;
    flex-flow: row wrap;
    transition: box-shadow 0.25s;
    border-radius: 3px;
    border-bottom: 2px solid;
    margin: 0 5px 10px 5px;
    padding: 10px;
}

.block.full-size {
    flex-basis: 100%;
}

.block.half-size {
    flex-basis: calc(50% - 30px);
    flex-grow: 0;
}

.block.color.half-size {
    flex-basis: calc(50% - (30px + 3px));
}

.block.color {
    border-bottom: 0;
    border-left: 3px solid;
}

.block.button {
    border-bottom: 3px solid rgba(0,0,0, 0.15);
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}

.block:hover {
    box-shadow: 0 1px 2px rgba(0,0,0, 0.3);
    transition: box-shadow 0.25s;
}

.block ul {
    margin: 0 auto;
    padding: 10px 20px;
    list-style: none;
    text-align: center;
}

.block li:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

input {
    flex-basis: 100%;
    background: url("../img/search.png") no-repeat right;
    padding-right: 15px;
    border: 0;
    outline-style: solid;
    outline-offset: 1px;
}
