/* Header */

h1 {
    color: #9e9e9e;
    font-size: 40pt;
    font-weight: bold;
}

/* Body */

body {
    font-size: 10pt;
    font-family: Arial;
    background-color: #e0e0e0;
    color: #757575;
}

/* Blocks */

.block-content,
.block {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.15),
                0 2px 3px rgba(0,0,0, 0.3);
    border-radius: 2px;
    transition: box-shadow 0.25s ease-in-out;
}

.block-content:hover,
.block:hover {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.15),
                0 4px 6px rgba(0,0,0, 0.28);
    z-index: 1;
}

.block-content ul li:first-child {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #757575;
}

/* Form */

input {
    background: url(../images/search.png) no-repeat right;
    padding-right: 16px;
    color: #757575;
}

/* Mascot */

#mascot {
    background-image: url("../images/mascots/mascot.png");
    background-position: left bottom;
    background-size: auto 400px;
}
