/* Header */
header h1 {
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: bold;
    color: #aaa;
}

/* Body */
html {
    background-color: #eaeaea;
}

body {
    font-family: Arial;
    font-size: 10pt;
    color: #aaa;
}

.block {
    background-color: #fff;
    border-bottom-color: #d9d9d9;
}

.block.color {
    border-left-color: #0af;
}

.block.button {
    background-color: #0af;
    color: #fff;
}

input {
    outline-width: 0px;
    outline-color: #ddd;
    color: #aaa;
}

a {
    text-decoration: none;
    color: #aaa;
}

/* Mascot */
#mascot {
    background-image: url("../images/mascots/mascot1.png");
    background-position: left bottom;
    background-size: auto 400px;
}